*{
    font-family: Gotham,sans-serif;
}
.articleTitle::first-letter{
    font-size: 200%;
}
.subTitle{
    margin-top: .1em;
    padding-left: 5em;
}
img{
    float:left;
}
h1{
    color: orange;
    font-style: italic;
    margin-bottom: .1em;
    text-shadow: .05em .05em #000;
    padding-left: 3em;
}
a{
    color:orange;
    hover:green;
}
a:hover{
    color:green;
}
ul{
    line-height: 1.5em;
}
footer{
    text-align: center;
    font-size:80%;
}
h2{
    font-size:1.4em;
}
h3{
    font-size:1.2em;
    padding-bottom: 0em;
}
h4{
    font-size:1.1em;
}
p{
    font-size: 1em;
}
