/*
  Copyright © James Greenwell
  Elon University
  September 12th, 2016
*/
*{
  font-family: Gotham,sans-serif;
}

html{
  background: url(../images/bats.gif) repeat; 
}

body{
  background: #fff;
  box-shadow: 0 0 5px 5px #000;
  margin: .5em auto;
  width:800px;
}

.subTitle{
  margin-top: .1em;
  padding-left: 5em;
}

.logo{
  float:left;
}

div{
  margin-left: 165px;
  margin-right: 1em;
}

h1{
  margin-bottom: .1em;
  padding-left: 3em;
}

h2{
  font-size: 1.4em;
  margin-bottom: 0.1em;
  margin-top: 0.5em;
}

h3{
  font-size:1.2em;
}

h4{
  font-size:1.1em;
}

a{
  color:orange;
}

header{
  background: orange;
  background:linear-gradient(45deg,white,orange,orange,black);
  border-color: #000;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: .5em 0 0 .5em;
}

footer{
  background: orange;
  background:linear-gradient(45deg,black,orange,orange,white);
  border-color: #000;
  border-style: solid;
  border-width:1px 0px 0px 0px;
  clear: both;
  font-size:80%;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
}

p{
  font-size: 1em;
}

nav.horizontal ul{
  background: black;
  margin: 0;
  padding: 0;
}

nav.horizontal li{
  border:2px solid black;
  display:inline-block;
  line-height: 2em;
  
  width: 19%;
}

nav.horizontal a{
  color: white;
  display:block;
  text-align: center;
  text-decoration: none;
}

nav.horizontal a.current{
  color: orange;
}

nav.vertical{
  float:left;
  width: 160px;
}

nav.vertical ul{
  line-height: 1.5em;
  margin: 0;
  padding: 1.2em .8em;
}

nav.vertical li{
  border:2px solid black;
  background:orange;
  line-height: 2em;
  margin-bottom: .25em;
  display:block;
}

nav li:hover{
  background:grey;
}

nav.vertical a{
  color:black;
  display:block;
  font-weight: bold;
  text-decoration: none;
  text-indent: .5em;
}

table{
  border-spacing: 0;
  margin: 1em;
  width: 95%;
}

th, td{
  padding:0;
}

table caption{
  font-size: 1.8em;
  font-weight: bold;
}

table th{
  text-align: left;
  vertical-align: top;
}

table thead th{
  font-size: 1.2em
}

table tr th:nth-of-type(3), table tr td:nth-last-of-type(1){
  text-align: right;
  background: #F5DEB3; 
}

table a{
  color:black;
  text-decoration: underline;
}

table a:hover, table a:focus{
  color:green;
}

.subTitle{
  margin-top: .1em;
  padding-left: 5em;
}

